<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    {{ if topic }}
    <div class="col-md-9">
      <article class="markdown-body">
        {{ if topic.userId === user.id }}
        <div class="alert alert-success" role="alert" style="float: right; padding: 5px 10px;">
            <a id="topic-edit" href="/topic/{{topic.id}}/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            &ensp;
            <a id="topic-del" href="/topic/{{topic.id}}/del"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </div>
        {{ /if }}
        <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{ topic.title }}</h1>
        <div>{{@ topic.content }}</div>
      </article>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>1111</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
    {{ else }}
    <div class="alert alert-danger" role="alert">
      <strong>404 找不到该文章</strong>
    </div>
    {{ /if }}
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    // 修改文章
    // $('#topic-edit').on('click', function (e) {
      // e.preventDefault()
      // if (!window.confirm('是否要修改')) return
      // 获取接口地址
      // const url = $(this).attr('href')
      // 发送请求
      // $.ajax({
      //   url: url,
      //   type: 'post',
      //   datatype: 'json',
      //   success: function (res) {
      //     console.log(res)
      //   }
      // })
    // })
    // 删除文章
    $('#topic-del').on('click', function (e) {
      e.preventDefault()
      if (!window.confirm('是否要删除')) return
      // 获取接口地址
      const url = $(this).attr('href')
      // 处理请求
      $.ajax({
        url: url,
        type: 'post',
        datatype: 'json',
        success: function (res) {
          switch (res.code) {
            case 10000:
              window.alert('删除成功')
              window.location.href = '/'
              break
            case 10007:
              window.alert(res.message)
              // window.location.reload()
              break
            case 10008:
              window.alert('删除成功')
              window.alert('??? 怎么可能, 你仿佛在逗我')
              window.alert('我怎么可能犯这种低级错误')
              window.alert('傻孩子别玩了, 洗洗睡吧')
              // window.location.reload()
              break
          }
        }
      })
    })
  </script>
</body>
</html>
